.developers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.developers__link {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @black;
  text-transform: uppercase;
  padding: 15px 0;
}

.developers__link:hover {
  color: @basic;
}

.developers__link:active {
  color: #b3b3b3;
}

.developers__icon {
  margin-bottom: -12px;
  margin-left: 10px;
}

@media (min-width: @tablet-width) {
  .developers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
  }

  .developers__link {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @black;
    text-transform: uppercase;
    padding: 15px 0;
  }

  .developers__link:hover {
    color: @basic;
  }

  .developers__link:active {
    color: #b3b3b3;
  }

  .developers__icon {
    margin-bottom: -12px;
    margin-left: 10px;
  }
}

@media (min-width: @desktop-width) {
  .developers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 10px 16px 28px;
  }

  .developers__link {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @black;
    text-transform: uppercase;
    padding: 15px 0;
  }

  .developers__link:hover {
    color: @basic;
  }

  .developers__link:active {
    color: #b3b3b3;
  }

  .developers__icon {
    margin-bottom: -12px;
    margin-left: 10px;
  }
}
