.entertainment-list {
  margin: 0;
  padding: 23px 18px 27px 18px;
  list-style: none;
  min-height: 130px;
  box-sizing: border-box;
}

.entertainment-list__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.entertainment-list__item-icon-home {
  background-image: url("../img/index/home-icon.svg");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.entertainment-list__item-icon-burger {
  background-image: url("../img/index/burger-icon.svg");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.entertainment-list__item-icon-present {
  background-image: url("../img/index/present-icon.svg");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.entertainment-list__item-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  text-transform: uppercase;
  padding: 8px 25px 8px 7px;
  text-align: center;
  margin: 0;
}

.entertainment-list__item-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @gray;
  text-transform: uppercase;
  padding: 8px 0 8px 47px;
  text-align: left;
  margin: 0;
}

.entertainment-list__item-description br {
  display: none;
}

@media (min-width: @tablet-width) {
  .entertainment-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    min-height: 330px;
  }

  .entertainment-list__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 33%;
    align-items: center;
    justify-content: flex-start;
    padding: 55px 35px 20px;
    margin-bottom: 0;
  }

  .entertainment-list__item-icon-home {
    background-image: url("../img/index/home-icon.svg");
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
  }

  .entertainment-list__item-icon-burger {
    background-image: url("../img/index/burger-icon.svg");
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
  }

  .entertainment-list__item-icon-present {
    background-image: url("../img/index/present-icon.svg");
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
  }

  .entertainment-list__item-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
  }

  .entertainment-list__item-description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @gray;
    text-transform: uppercase;
    padding: 0 7px;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .entertainment-list__item-description br {
    display: none;
  }

  .entertainment-list__item-icon {
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
  }
}

@media (min-width: @desktop-width) {
  .entertainment-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .entertainment-list__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 33%;
    align-items: center;
    justify-content: center;
    padding: 29px 35px 13px 35px;
    margin-bottom: 0;
  }

  .entertainment-list__item-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }

  .entertainment-list__item-description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @gray;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .entertainment-list__item-description br {
    display: block;
  }

  .entertainment-list__item-icon {
    margin-bottom: 20px;
  }
}
