.find-hotel__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 38px 12px 32px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.find-hotel__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  text-transform: uppercase;
  padding: 3px 10px 15px;
  text-align: center;
  margin: 0;
}

.find-hotel__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @gray;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 5px 15px;
}

.find-hotel__description br {
  display: none;
}

.find-hotel__button {
  min-width: 82%;
  margin: 26px 15px 16px;
}

@media (min-width: @tablet-width) {
  .find-hotel__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .find-hotel__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;
    padding: 5px 25px;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 55px;
  }

  .find-hotel__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @gray;
    text-transform: uppercase;
    padding: 18px 165px;
    text-align: center;
    margin: 0;
  }

  .find-hotel__description br {
    display: block;
  }

  .find-hotel__button {
    min-width: 430px;
    margin-bottom: 57px;
    padding: 16px 14px;
  }
}

@media (min-width: @desktop-width) {
  .find-hotel__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .find-hotel__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;
    padding: 24px 25px 20px;
    text-align: center;
    margin: 0;
    margin-top: 37px;
  }

  .find-hotel__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @gray;
    text-transform: uppercase;
    padding: 10px 380px;
    text-align: center;
    margin: 0;
    margin-bottom: 12px;
  }

  .find-hotel__description br {
    display: block;
  }

  .find-hotel__button {
    min-width: 430px;
    margin-bottom: 66px;
  }
}
