.form-header__wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 14px;
}

.form-header__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  text-transform: uppercase;
  padding: 22px 5px 10px 5px;
  text-align: center;
  margin: 0;
}

.form-header__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @gray;
  text-transform: uppercase;
  padding: 15px 5px 12px;
  text-align: center;
  margin: 0;
  margin-bottom: 17px;
}

@media (min-width: @tablet-width) {
  .form-header__wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .form-header__title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;
    padding: 10px 5px;
    text-align: center;
    margin: 0;
  }

  .form-header__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @gray;
    text-transform: uppercase;
    padding: 20px 5px;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .form-header__wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .form-header__title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;
    padding: 10px 5px;
    text-align: center;
    margin: 0;
  }

  .form-header__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @gray;
    text-transform: uppercase;
    padding: 20px 5px;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
  }
}
