.map__wrapper {
  width: 100%;
  min-height: 350px;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../img/index/map-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.map__iframe {
  width: 100%;
}

.map__marker {
  position: absolute;
  top: 50%;
  right: 50%;
}

@media (min-width: @tablet-width) {
  .map__wrapper {
    width: 100%;
    min-height: 350px;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("../img/index/map-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .map__iframe {
    width: 100%;
  }

  .map__marker {
    position: absolute;
    top: 50%;
    right: 50%;
  }
}

@media (min-width: @desktop-width) {
  .map__wrapper {
    width: 100%;
    min-height: 350px;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("../img/index/map-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .map__iframe {
    width: 100%;
  }

  .map__marker {
    position: absolute;
    top: 50%;
    right: 50%;
  }
}
