.presentation {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: -10px;
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  text-transform: uppercase;
  padding: 10px 5px;
  text-align: center;
  margin: 0;
}

.presentation__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @gray;
  text-transform: uppercase;
  padding: 17px 5px 17px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.presentation__video {
  position: relative;
  box-sizing: border-box;
}

.presentation__video-link {
  margin: 0 auto;
  padding: 0;
  width: 280px;
  height: 177px;
  display: block;
}

.presentation__video-button {
  position: absolute;
  content: "";
  border: none;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 48px;
  height: 55px;
  cursor: pointer;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .presentation {
    box-sizing: border-box;
    width: 648px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .presentation__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;
    padding: 10px 5px;
    text-align: center;
    margin: 0;
  }

  .presentation__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @gray;
    text-transform: uppercase;
    padding: 20px 95px;
    text-align: center;
    margin: 0;
    margin-bottom: 68px;
  }

  .presentation__video {
    position: relative;
    box-sizing: border-box;
  }

  .presentation__video-link {
    margin: 0 auto;
    padding: 0;
    width: 648px;
    height: 500px;
    object-fit: cover;
  }

  .presentation__video-button {
    position: absolute;
    content: "";
    border: none;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 48px;
    height: 55px;
    cursor: pointer;
    margin: auto;
  }
}

@media (min-width: @desktop-width) {
  .presentation {
    box-sizing: border-box;
    width: 800px;
    padding: 0;
    margin: 0 auto;
    margin-top: 51px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 89px;
  }

  .presentation__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;
    padding: 10px 5px;
    text-align: center;
    margin: 0;
  }

  .presentation__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @gray;
    text-transform: uppercase;
    padding: 20px 175px;
    text-align: center;
    margin: 0;
    margin-bottom: 68px;
  }

  .presentation__video {
    position: relative;
    box-sizing: border-box;
  }

  .presentation__video-link {
    margin: 0;
    padding: 0;
    width: 800px;
    height: 500px;
  }

  .presentation__video-button {
    position: absolute;
    content: "";
    border: none;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 48px;
    height: 55px;
    cursor: pointer;
    margin: auto;
  }
}
