.presentation {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  text-transform: uppercase;
  padding: 10px 5px;
  text-align: center;
  margin: 0;
}

.presentation__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @gray;
  text-transform: uppercase;
  padding: 20px 5px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.presentation__video {
  margin: 0;
  padding: 0;
  position: relative;
}

.presentation__video-cover {
  width: 100%;
  display: block;
  object-fit: cover;
}

.play-icon {
  position: absolute;
  content: "";
  top: 200px;
  right: 200px;
}

@media (min-width: @tablet-width) {
  .presentation {
    box-sizing: border-box;
    width: 648px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .presentation__title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;
    padding: 10px 5px;
    text-align: center;
    margin: 0;
  }

  .presentation__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @gray;
    text-transform: uppercase;
    padding: 20px 5px;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
  }

  .presentation__video {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .presentation__video-cover {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  .play-icon {
    position: absolute;
    content: "";
    top: 200px;
    right: 200px;
  }
}

@media (min-width: @desktop-width) {
  .presentation {
    box-sizing: border-box;
    width: 800px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .presentation__title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;
    padding: 10px 5px;
    text-align: center;
    margin: 0;
  }

  .presentation__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @gray;
    text-transform: uppercase;
    padding: 20px 5px;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
  }

  .presentation__video {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .presentation__video-cover {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  .play-icon {
    position: absolute;
    content: "";
    top: 200px;
    right: 200px;
  }
}
