.reasons__wrapper {
  width: 320px;
  margin: 0;
  padding: 0;
}

.reasons__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
  text-transform: uppercase;
  padding: 20px 25px;
  text-align: center;
}

.reasons__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @gray;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 25px;
}

@media (min-width: @tablet-width) {
  .reasons__wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .reasons__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;
    padding: 40px 120px;
    text-align: center;
    margin: 0;
  }

  .reasons__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @gray;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 120px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .reasons__wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .reasons__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: @black;
    text-transform: uppercase;
    padding: 50px 358px 20px;
    text-align: center;
    margin: 0;
  }

  .reasons__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: @gray;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 120px;
    margin: 0;
  }
}
