.review__wrapper {
  margin: 0;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .review__wrapper {
    margin: 0;
    padding: 5px 60px;
  }
}

@media (min-width: @desktop-width) {
  .review__wrapper {
    margin: 0;
    padding: 5px 120px;
  }
}
