.welcome__wrapper {
  height: 389px;
  background-image: url("../img/index/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.welcome__logo {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .welcome__wrapper {
    min-height: 518px;
    background-image: url("../img/index/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcome__logo {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .welcome__wrapper {
    max-height: 518px;
    background-image: url("../img/index/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcome__logo {
    margin: 0;
  }
}
