.welcome__wrapper {
  height: 389px;
  background-image: url("../img/index/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.welcome__logo {
  margin: 0;
  margin-top: 5px;
}

.welcome__decoration-icon {
  width: 100%;
  min-height: 57px;
  position: absolute;
  background-position: center;
  bottom: -186px;
  background-image: url("../img/index/welcome-decoration-icon.svg");
}

@media (min-width: @tablet-width) {
  .welcome__wrapper {
    min-height: 518px;
    background-image: url("../img/index/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcome__logo {
    margin: 0;
  }

  .welcome__decoration-icon {
    width: 100%;
    min-height: 57px;
    position: absolute;
    background-position: center;
    bottom: -315px;
    background-image: url("../img/index/welcome-decoration-icon.svg");
  }
}

@media (min-width: @desktop-width) {
  .welcome__wrapper {
    max-height: 518px;
    background-image: url("../img/index/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcome__logo {
    margin: 0;
  }

  .welcome__decoration-icon {
    max-width: 1200px;
    min-height: 57px;
    position: absolute;
    background-position: center;
    bottom: -315px;
    background-image: url("../../img/index/welcome-decoration-icon.svg");
  }
}
