.main-header {
  display: flex;
  flex-direction: column;
  background-color: @white;
}

.main-header__wrapper {
  height: 56px;
}

.main-header__logo {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.main-nav {
  position: relative;
  width: auto;
  background-color: @basic;
}

.main-nav__toggle {
  position: absolute;
  top: -95px;
  right: 25px;
  z-index: 2;
  display: block;
  width: 23px;
  height: 22px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: @basic;
  box-shadow: 0 10px 0 0 @basic, 0 20px 0 0 @basic;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: fade(@basic, 60%);
  box-shadow:
    0 10px 0 0 fade(@basic, 60%),
    0 20px 0 0 fade(@basic, 60%);
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(@basic, 30%);
  box-shadow:
    0 10px 0 0 fade(@basic, 30%),
    0 20px 0 0 fade(@basic, 30%);
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -2px;
    width: 27px;
    height: 4px;
    background-color: @white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(@white, 30%);
  }

  &:hover::before,
  &:hover::after {
    background-color: fade(@white, 60%);
  }
}

.main-nav--closed {
  display: block;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -96px;
}

.main-nav__list a {
  position: relative;
  display: block;
  padding: 13px 21px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: @basic;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
