.main-header {
  display: block;
}

.main-header__wrapper {
  height: 56px;
  position: relative;
  width: 100%;
}

.main-header__logo {
  display: block;
  margin: 0 auto;
}

.main-header__toggle {
  border: none;
  position: absolute;
  width: 24px;
  height: 20px;
  top: 17px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.main-header__toggle-open svg {
  fill: @basic;
  margin: 0;
  padding: 0;

  &:hover {
    fill: fade(@basic, 60%);
  }

  &:active {
    fill: fade(@basic, 30%);
  }
}

.main-header__toggle-close svg {
  fill: @white;
  margin: 0;
  padding: 0;

  &:hover {
    fill: fade(@white, 60%);
  }

  &:active {
    fill: fade(@white, 30%);
  }
}

.main-header__toggle--closed .main-header__toggle-close {
  display: none;
}

.main-header__toggle--opened .main-header__toggle-open {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header {
    display: block;
  }

  .main-header__wrapper {
    height: 56px;
    position: relative;
    width: 100%;
  }

  .main-header__logo {
    position: relative;
    margin: 0 auto;
    padding: 0;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__toggle-open svg {
    display: none;
  }

  .main-header__toggle-close svg {
    display: none;
  }

  .main-header__toggle--closed .main-header__toggle-close {
    display: none;
  }

  .main-header__toggle--opened .main-header__toggle-open {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    display: block;
  }

  .main-header__wrapper {
    height: 56px;
    position: relative;
    width: 100%;
  }

  .main-header__logo {
    position: relative;
    margin: 0 auto;
    padding: 0;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__toggle-open svg {
    display: none;
  }

  .main-header__toggle-close svg {
    display: none;
  }

  .main-header__toggle--closed .main-header__toggle-close {
    display: none;
  }

  .main-header__toggle--opened .main-header__toggle-open {
    display: none;
  }
}
