.main-header {
  display: flex;
  flex-direction: column;
  background-color: @white;
}

.main-header__wrapper {
  height: 56px;
  display: flex;
  position: relative;
}

.main-header__logo {
  display: block;
  margin: 0 auto;
}

.main-header__toggle {
  border: none;
  position: absolute;
  width: 24px;
  height: 20px;
  top: 17px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  z-index: 2;
}

.main-header__toggle-open svg {
  fill: @basic;
  margin: 0;
  padding: 0;

  &:hover {
    fill: fade(@basic, 60%);
  }

  &:active {
    fill: fade(@basic, 30%);
  }
}

.main-header__toggle-close svg {
  fill: @white;
  margin: 0;
  padding: 0;

  &:hover {
    fill: fade(@white, 60%);
  }

  &:active {
    fill: fade(@white, 30%);
  }
}

.main-header__toggle--closed .main-header__toggle-close {
  display: none;
}

.main-header__toggle--opened .main-header__toggle-open {
  display: none;
}

.main-nav {
  position: fixed;
  width: 100%;
  background-color: @basic;
  left: 0;
  top: 0;
}

.main-nav--closed {
  transform: translateY(-100%);
}

.main-nav--opened {
  transform: none;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__list a {
  position: relative;
  display: block;
  padding: 13px 21px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: @basic;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
